@page
@model AppleStore.Pages.Admin.AccountManage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.AccountId" />
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-control" />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.FullName" class="control-label"></label>
                <input asp-for="Account.FullName" class="form-control" />
                <span asp-validation-for="Account.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Picture" class="control-label"></label>
                <input asp-for="Account.Picture" class="form-control" />
                <span asp-validation-for="Account.Picture" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.Account.Picture))
            {
                <img src="@Model.Account.Picture" alt="Profile Picture" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <p>No picture available</p>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
