@page
@model AppleStore.Pages.Client.EditProfileModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Account.AccountId" />
    @if (!string.IsNullOrEmpty(Model.Account.Picture))
    {
        <div class="form-group">
            <label>Current Profile Picture</label><br />
            <img src="@Model.Account.Picture" alt="Profile Picture" style="max-width: 200px; max-height: 200px;" />
            <button type="submit" name="deletePicture" value="true" class="btn btn-danger mt-2">Delete Picture</button>
        </div>
    }
    <div class="form-group">
        <label asp-for="Picture">Profile Picture</label>
        <input type="file" asp-for="Picture" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Account.UserName"></label>
        <input asp-for="Account.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Account.Password"></label>
        <input asp-for="Account.Password" class="form-control"  value="******" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Account.FullName"></label>
        <input asp-for="Account.FullName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>